body {
    margin: 0 auto;
    padding: 0 auto;

    width: 960px;
    height: 600px;

}

svg {
    width:960px;
    height:600px;
}

#Player {
    fill: none;
    stroke: #090;
    stroke-width: 8px;
    stroke-linejoin:round;
    stroke-linecap: round;
}