body { /*   standard sidformat för att undvika exempelvis onödiga margins och scrollbars.
            med denna storleken bör spelet fungera på alla moderna skärmar utan problem.*/
    margin: 0 auto;
    padding: 0 auto;

    width: 960px;
    height: 600px;

}

