/* font-style och margin som grund */
@font-face { font-family: OldNewspaperTypes; src: url(OldNewspaperTypes.ttf); }
@font-face { font-family: coolfont; src: url(coolfont.ttf); }

* {margin: 0 auto;}

/* bakgrundsfärg och den stora containern för varje sida */
/* body { background-color: #4488CC;} */
body { background-color: #e0d5b4; color: #000000;}
#page {text-align:center; width:960px; margin-top:36px; padding-bottom: 240px;}

/* hela headern och sociala mediernas länkar */
header {background-color: #000029; width:100%;  height:25%;  text-align:center; box-shadow: rgba(120,190,230,1); -webkit-box-shadow: 0px 8px 8px 2px #000047;}
header h1 {color: #daa520c7; font-size:60pt; font-family: coolfont;}

/* bildlistor */
#cocktail_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
.cocktail {
    font-family: OldNewspaperTypes, Helvetica, Verdana, Roboto, sans-serif;
    width: 80%;
    margin: 8px 0;
    padding: 16px;
}
.cocktailTitle { font-size: 36pt; text-align: center; text-decoration: none; color: inherit;}
.cocktailImage { width: 85%; height: 85%; margin: 4px; border-radius: 15%; box-shadow: rgba(120,190,230,1); -webkit-box-shadow: 0px 0px 4px 4px #6e4700b9;}
.cocktailDescription { padding: 4px; font-size: 12pt; text-align: center;}

#returnButton {
    color: #daa520c7;
    font-size:36pt;
    font-family: coolfont;
    margin-top: 120px;
    width: 60%;
    background-color: #000029;
    border-radius: 5px; 
    box-shadow: rgba(120,190,230,1); 
    -webkit-box-shadow: 0px 0px 2px 2px #6e4700b9;
}

/* #507552 grön */