/* font-style och margin som grund */
@font-face { font-family: OldNewspaperTypes; src: url(OldNewspaperTypes.ttf); }
@font-face { font-family: coolfont; src: url(coolfont.ttf); }

* {margin: 0 auto;}

/* bakgrundsfärg och den stora containern för varje sida */
/* body { background-color: #4488CC;} */
body { background-color: #e0d5b4; color: #000000;}
#page {text-align:center; width:960px; margin-top:36px;}

/* hela headern och sociala mediernas länkar */
header {background-color: #000029; width:100%;  height:25%;  text-align:center; box-shadow: rgba(120,190,230,1); -webkit-box-shadow: 0px 8px 8px 2px #000047;}
header h1 {color: #daa520c7; font-size:60pt; font-family: coolfont;}

/* bildlistor */
#cocktail_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
}
.cocktail {
    font-family: OldNewspaperTypes, Helvetica, Verdana, Roboto, sans-serif;
    width: 80%;
    margin: 8px 0;
    padding: 16px;
}
.cocktailTitle { font-size: 36pt; text-align: center; text-decoration: none; color: inherit;}
.cocktailImage { width: 200px; height: 250px; margin: 4px; border-radius: 15%; border: 4px solid #19528b;}
.cocktailDescription { padding: 4px; font-size: 12pt; text-align: center;}

/* #507552 grön */